#achievements-carousel {
    text-align: center;
  }
  
  .achievements-img {
    margin-bottom: 2%;
    width: 70%;
  }
  .cert-title {
    margin-top: 10%;
    color: #3f3f44;
  }
  .cert-content {
    color: #3f3f44;
  }