footer {
    font-size: 1rem;
    text-align: center;
    background-color: #3f3f44;
    color: #F4F6FF;
    .footer-img {
        width: 6%;
    }
    .footer-icon {
        margin: 2% 1%;
        color: #F4F6FF;
    }
    a:hover {
        text-decoration: none;
    }
}

