#projects {
  .section-title2 {
    padding: 4% 0 0 0;
  }
  .img-projects {
    position: relative;
    margin: 4% 0 0 0;
  }

  .projects-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .img-projects:hover .projects-img {
    opacity: 0.5;
  }

  .img-projects:hover .middle {
    opacity: 1;
  }

  .projects-button:hover {
    text-decoration: none;
    // color: white;
  }

}