#skills {
    text-align: center;
    .card {
        background-color: inherit;
        border: inherit;
        padding: 0;

    }

    .section-title2 {
        padding: 4% 0 2% 0;
    }
    .skills-bar {
        margin: 0 15%;
    }
}